body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
    color: cornflowerblue;
}

input,input::file-selector-button,button{
    background: linear-gradient(white, azure, aliceblue);
    border-radius: 25px;
    border-color: cornflowerblue;
}

.header, .footer{
  background-color: white;
  padding: 7px;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.header:hover, .footer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.left{ 
  background-image: linear-gradient(white, azure, aliceblue);
    margin-top: 2%;
    float: left;
    width: 20%;
}

.right{
  background-image: linear-gradient(white, azure, aliceblue);
    margin-top: 2%;
    float: left;
    width: 80%;
}

.space{
  margin-top: 36%;
  float: left;
  width: 50%;
}

.column {
    float: left;
    width: 50%;
  }

  .card{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 175px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .auth-card{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 140px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .auth-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  
/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
}

#waiting-man{
    position: absolute;
    top: 25%;
    left: -1%;
    
}

#booth{
    height: 300px;
    width: 300px;
}